@use "settings-variables" as *;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: $body-fonts;
  color: $text-color;
  background: $background-color;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex; // For Sticky Footer
  flex-direction: column; // For Sticky Footer
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(ellipse at top right, #193054, transparent),
    radial-gradient(ellipse at bottom left, #380b6f, transparent);

  &.no-scroll {
    overflow: hidden;
  }
}
